html, body {
  height: 100%;
  font-family: 'Bitter', serif;
}
@media (max-width:767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #989CA3;
}
.container {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  /*background-color: rgba(0, 0, 0, 0.37);*/
}
@media(max-width:1150px) {
  .container {max-width: 970px;}
}
@media(max-width:992px) {
  .container {max-width: 750px;}
}
@media(max-width:767px) {
  .container {max-width: none;}
}

/*HEADER*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0 1px 2px #000;
}
.header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C2C9D7;
  z-index: 2;
}
.header__container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.header__logo {
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  color: #000;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0 45px 0 0;
  font-size: 16px;
}
.header__link {
  color: #000;
  cursor: pointer;
}

@media (max-width:767px) {
  .header__body {
    height: 50px;
  }
  .header__logo {
    font-size: 20px;
  }
  .header__burger {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;  
    height: 1px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 1px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #AD8F1F;
    padding: 70px 0 0 20px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
    font-size: 16px;
  }
}



/*CONTENT*/
.content {
  padding: 65px 0 0 0;
  flex: 1 1 auto;
}
@media (max-width:767px) {
  .content{
    padding: 50px 0 0 0;
  }
}






/*main*/
.main {
  width: 100%;
  max-height: 700px;
  background-image: url('../img/partners__background.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
  transition: all 1.5s ease 0s;
}
.main__layer {
  width: 100%;
  height: 100%;
  background-color: #0e0f11b9;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px);
}
.main.active {
  opacity: 1;
}
.main__logo {
  height: 100%;
  display: flex;
  transition: all 1.0s ease 0s;
  padding: 30px 0;
}
.big-logo {
  margin: auto;
  width: 60%;
}
.phone-logo-main {
  display: none;
}

@media (max-width:768px) {
  .main {
    height: 73vh;
    background-image: url(../img/main-back-phone.jpeg);
  }
  .main__layer {
    width: 100%;
    height: 100%;
  }
  .big-logo {
    margin: auto;
    width: 70%;
    position: relative;
    top: 27px;
    left: 45px;
  }

}

/*about*/
.about {
  background-color: #0E0F11;
  padding: 70px 30px;
  color: #fff;
  font-family: 'Bitter', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.about__title {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 45px;
  color: #AD8F1F;
  margin: 0 0 50px 0 ;
  line-height: 35px;
}
.about__text {
  font-size: 16px;
  line-height: 27px;
  margin: 0 0 45px 0;
}
.about__text p {
  margin: 0 0 20px 0;
}
.about__more {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 20px;
  transition-duration: 0.2s;
}
.about__more a {
  color: #AD8F1F;
}
.about__more a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.about__more a:active {
  font-size: 19px;
}

@media(max-width:992px) {
  .about__text {
    font-size: 15px;
  }
}
@media(max-width:768px) {
  .about {
    padding: 50px 30px;
  }
  .about__title {
    font-size: 40px;
    margin: 0 0 30px 0;
  }
  .about__text {
    font-size: 14px;
  }
  .for_none {
    display: none;
  }
  .about__more {
    font-size: 16px;
    font-style: italic;
  }
}
@media(max-width:576px) {
  .about {
    padding: 30px 15px;
  }
  .about__title {
    font-size: 30px;
  }
  .about__text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px 0;
  }
}

/*order-call*/
.order-call {
  width: 100%;
  height: 160px;
  background-color: #AD8F1F;
}
.order-call__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-call__text {
  font-family: 'Bitter', serif;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  margin: 0 50px 0 0;
}
.order-call__button {
  width: 38%;
  height: 50px;
  background-color: #C2C9D7;
  box-shadow: 1px 1px 3px #0E0F11;
  transition-duration: 0.2s;
  display: flex;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-call__button p {
  color: #000;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 400;
  font-size: 20px;
  margin: auto;
}
.order-call__button:hover {
  background-color: #989CA3;
}
.order-call__button:active {
  transform: scale(1.01);
  box-shadow: none;
}

/*во всплывающем окне*/
.order-call__window-up-content {
  position: relative;
  border-radius: 3px;
  background: url('../img/order-call__window-up_back.jpg') center / cover no-repeat;
}
.order-call-window-up__layout {
  height: 100%;
  padding: 50px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #63625f80;
  backdrop-filter: blur(2.5px);
  border-radius: inherit;
  box-shadow: #000 1px 1px 3px;
}
.order-call__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 50%;
  margin: 30px 0;
}
#windowUpTitle {
  width: 80%;
}
.order-call__form input {
  width: 100%;
  height: 60px;
  margin: 10px;
  font-size: 17px;
  box-shadow: 1px 1px 3px #0E0F11;
}
.order-call__input {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.5);
  color: #000000;
  padding: 0 15px 0 30px;
}
.order-call__input::placeholder {color: #00000060;}
.order-call__submit {
  width: 38%;
  height: 50px;
  background-color: #C2C9D7;
  transition-duration: 0.2s;
  display: flex;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-call__submit:hover {
  background-color: #989CA3;
}
.order-call__submit:active {
  transform: scale(1.01);
  box-shadow: none;
}
.link-on-privacy-policy {
    color: inherit;
    text-decoration: underline;
}
.link-on-privacy-policy:hover {
    text-decoration: none;
}


@media(max-width:992px) {
  .order-call__form {
    width: 75%;
    margin: 30px 0;
  }
}
@media(max-width:767px) {
  .order-call__content {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .order-call__text {
    text-align: center;
    font-size: 16px;
    margin: 0 0;
  }
  .order-call__button {
    width: 75%;
    height: 50px;
    font-size: 16px;
  }
  
}
@media (max-width:576px) {
  .order-call__button {
    font-size: 14px;
  }
  .order-call__form {
    width: 100%;
    margin: 30px 0;
  }
  #windowUpTitle {
    width: 100%;
    font-size: 20px;
  }
  .order-call-window-up__layout {
    height: 100%;
    padding: 30px 40px;
  }
  .order-call__form input {
    width: 100%;
    height: 50px;
    margin: 10px 10px 10px 0px;
    font-size: 15px;
  }
}

/*services*/
.services {
  width: 100%;
  padding: 100px 0 70px;
  background-color: #C2C9D7;
}
.services__title {
  font-family: 'Cormorant Unicase', serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin: 0 0 50px 0;
}
.services__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 0 -10px;*/
}
.services__card-layout {
  height: 300px;
  padding: 0px 10px;
  flex: 1 1 25%;
  margin: 0 0 35px 0;
  cursor: pointer;
  transition-duration: 0.3s;
}
.services__card-layout:hover {
  backdrop-filter: blur(2.5px);
  transform: scale(103%);
}
.services__card {
  flex: 0 1 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition-duration: 0.2s;
}
.services__card:active {
  transform: scale(0.97);
}
.card_1 {
  background: url('../img/service_1__back-NEW.jpeg') center / cover no-repeat;;
}
.card_2 {
  background: url('../img/service_2__back.jpeg') center / cover no-repeat;;
}
.card_3 {
  background: url('../img/service_3__back.jpeg') center / cover no-repeat;;
}
.card_4 {
  background: url('../img/service_4__back-NEW.jpeg') center / cover no-repeat;;
}
.card_5 {
  background: url('../img/service_5__back.jpeg') center / cover no-repeat;;
}
.card_6 {
  background: url('../img/services_6-MOBILE.jpg') center / cover no-repeat;;
}
.card_7 {
  background: url('../img/service_7__back.jpeg') center / cover no-repeat;;
}
.card_8 {
  background: url('../img/services_8-MOBILE.jpg') center / cover no-repeat;;
}
.card_9 {
  background: url('../img/service_9__back.jpg') center / cover no-repeat;;
}
.card_10 {
  background: url('../img/services_10-MOBILE.png') center / cover no-repeat;;
}
.card_11 {
  background: url('../img/service_11__back.jpg') center / cover no-repeat;;
}
.services__body {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  line-height: 20px;
  padding: 5px 20px;
  background-color: rgba(14, 15, 17, 0.8);
}
.shop-service {
  background-color: rgba(196, 175, 58, 0.8);
  color: #000;
  font-weight: 600;
}
.services__name-service {
  font-family: 'Bitter', serif;
  font-size: 17px;
}
.services__more-service, .services__to-shop {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 22px;
  color: #AD8F1F;
  cursor: pointer;
}
.services__to-shop a{
  color: #AD8F1F;
  transition-duration: 0.2s;
}
.services__to-shop a:hover {
  text-decoration: underline;
}
.services__to-shop a:active {
  font-size: 21px;
}

@media(max-width:1150px) {
  .services__card {
    padding: 0;
  }
}
@media(max-width:992px) {
  .services {
    padding: 45px 0;
  }
  .services__title {
    margin: 0 0 35px;
    font-size: 25px;
  }
  .services__card-layout {
    flex: 1 1 33.333%;
  }
  .services__name-service {
    font-size: 15px;
  }
}
@media(max-width:767px) {
  .services {
    padding: 45px 0;
  }
  .services__title {
    margin: 0 0 35px;
    font-size: 20px;
  }
  .services__card-layout {
    height: 215px;
    padding: 0px 10px;
    flex: 1 1 50%;
    margin: 0 0 20px 0;
  }
  .services__name-service {
    font-size: 15px;
  }
  .services__body {
    height: 55%;
  }
  .services__card-layout:hover {
    backdrop-filter: none;
    transform: none;
  }
}
@media(max-width:467px) {
  .services__card-layout {
    flex: 1 1 100%;
    padding: 0px 5px;
  }
  .services__body {
    height: 45%;
  }
}


/*feedback*/
.feedback {
  width: 100%;
  height: auto;
  background-image: url(../img/sms__background.jpg);
  background-size: cover;
  background-position: center;
}
.feedback__layer {
  height: 100%;
  padding: 75px 0;
  background-color: rgba(14, 15, 17, 0.7);
  backdrop-filter: blur(2px);
}
.feedback-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.feedback__title {
  text-align: center;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin: 0 0 35px 0;
  text-transform: uppercase;
}
.feedback__text {
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0 0 35px 0;
}
.feedback__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.feedback__form form{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feedback__form-element {
  flex: 0 1 47%;
}
.feedback__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback__data input {
  width: 100%;
  height: 60px;
}
.feedback__data input:first-child {
  margin: 0 0 25px 0;
}
.feedback__field {
  background-color: rgba(217, 217, 217, 0.5);
  color: #fff;
  padding: 0 15px 0 30px;
  font-size: 16px;
  box-shadow: 1px 1px 3px #0E0F11;
}
::-webkit-input-placeholder {color:#ddd9d9;}
::-moz-placeholder          {color:#ddd9d9;}/* Firefox 19+ */
:-moz-placeholder           {color:#ddd9d9;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ddd9d9;}

.feedback__field._error {
  box-shadow: 1px 1px 3px #ff0000;
}
.feedback__field-message {
  padding: 15px 30px;
  resize: none;
}
.feedback__button {
  width: 45%;
  margin: auto;
}
.feedback__submit {
  width: 100%;
  height: 60px;
  font-family: Cormorant Unicase;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #AD8F1F;
  color: #fff;
  margin: 35px auto 20px;
  box-shadow: 1px 1px 3px #0E0F11;
  transition-duration: 0.1s;
}
.feedback__submit:hover {
  background-color: #c2a00a;
}
.feedback__submit:active {
  transform: scale(0.99);
  box-shadow: none;
}
.feedback__button p {
  color: #fff;
  text-align: center;
}



@media(max-width:992px) {
  .feedback__title {
    font-size: 25px;
  }
  .feedback__form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .feedback__form-element {
    flex: 0 1 100%;
  }
  .feedback__data {
    flex-direction: row;
  }
  .feedback__data input {
    flex: 0 1 48%;
    margin: 0 0 15px 0;
  }
  .feedback__form-element {
    flex: none;
  }
  .feedback__field-message {
    height: 150px;
  }
}
@media(max-width:767px) {
  .feedback__title {
    font-size: 20px;
  }
  .feedback__layer {
    padding: 50px 0 150px;
  }
  .feedback__data {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .feedback__data input:first-child {
    margin: 0 0 10px 0;
  }
  .feedback__data input {
    width: 100%;
    height: 50px;
    flex: none;
    margin: 0 0 10px 0;
  }
  .feedback__form {
    width: 90%;
    margin: 0 auto;
  }
  .feedback__button {
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin: 10px 0 0 0;
  }
  .feedback__button p {
    font-size: 14px;
  }
}

/*portfolio*/
.portfolio {
  background-color: #fff;
  font-family: 'Bitter', serif;
  padding: 100px 0;
}
.portfolio__content {
  width: 100%;
}
.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 85px 0;
}
.portfolio__title {
  font-family: 'Cormorant Unicase', serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  width: 100%;
}
.portfolio__list {
  display: flex;
}
.portfolio__list li{margin: 0 50px 0 0;}
.portfolio__list li:last-child{margin: 0;}
.portfolio__list a {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.portfolio__list a:hover {
  color: #DBB40B;
  text-decoration: underline;
}

.project_1 {
  background: url(../img/portfolio/fences/fences_1.JPG) center / cover ;
}
.project_2 {
  background: url(../img/portfolio/decoration/decoration_1.PNG) center / cover ;
}
.project_3 {
  background: url(../img/portfolio/roof/roof_1.PNG) center / cover ;
}
.project_4 {
  background: url(../img/portfolio/bathroom/bathroom_1.PNG) center / cover ;
}
.project_5 {
  background: url(../img/portfolio/ceiling/ceiling_1.PNG) center / cover ;
}
.project_6 {
  background: url() center / cover ;
}
.portfolio__projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -30px;
}
.project-card {
  height: 400px;
  flex: 1 1 30%;
  cursor: pointer;
  padding: 0 30px;
  margin: 0 0 45px;
}
.project-content {
  height: 100%;
  overflow: hidden;
}
.project-card_background {
  height: 100%;
  transition: all linear 0.3s;
}
.project-card_background:hover {
  transform: scale(1.05);
}
.project-card__layer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
}
.project-card__layer:hover {
  background-color: #00000090;
}
.project-name {
  opacity: 0;
  color: #fffffff1;
  font-size: 30px;
  transition: all linear 0.3s;
  user-select: none;
}
.project-card__layer:hover .project-name  {
  opacity: 1;
}

@media (max-width: 992px) {
    .portfolio {
    padding: 50px 0;
  }
  .portfolio__header {
    margin: 0 0 50px 0;
  }
  .portfolio__projects {
    margin: 0 -15px;
  }
  .project-card {
    height: 300px;
    padding: 0 15px;
    margin: 0 0 30px;
  }
  .portfolio__title {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .project-card {
    flex: 1 1 50%;
  }
  .portfolio__header {
    margin: 0 0 30px 0;
  }
  .portfolio__title {
    font-size: 20px;
  }
}
@media (max-width: 467px) {
  .project-card {
    flex: 1 1 100%;
    height: 250px;
  }
  .portfolio {
    padding: 30px 0;
  }
}



/*всплывающее окно*/
.portfolio__window-up-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-text {
  color: #fff;
}




/*to-shop*/
.to-shop {
  width: 100%;
  height: 160px;
  background-color: #AD8F1F;
}
.to-shop__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-shop__text {
  font-family: 'Bitter', serif;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  margin: 0 50px 0 0;
}
.to-shop__button {
  width: 38%;
  height: 50px;
  background-color: #C2C9D7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  box-shadow: 1px 1px 3px #0E0F11;
  transition-duration: 0.2s;
}
.to-shop__button:hover {
  background-color: #989CA3;
}
.to-shop__button:active {
  transform: scale(1.01);
  box-shadow: none;
}
.to-shop__button p {
  background: url('../img/icons/basket.png') right / auto 100% no-repeat;
  color: #000;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0 40px 0 0;
  text-decoration: none;
}

@media (max-width:767px) {
  .to-shop__content {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .to-shop__text {
    text-align: center;
    font-size: 16px;
    margin: 0 0;
  }
  .to-shop__button {
    width: 75%;
    height: 50px;
    font-size: 14px;
  }
}
@media (max-width:365px) {
  .to-shop__text {
    text-align: center;
    font-size: 14px;
    margin: 0 0;
  }
  .to-shop__button {
    width: 75%;
    height: 40px;
    padding: 5px;
  }
  .to-shop__button p {
    font-size: 14px;
  }
}

/*reviews*/
.reviews {
	width: 100%;
	height: auto;
	background-color: #C2C9D7;
	padding: 45px 0;
}
.reviews__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.reviews__title {
	font-family: 'Cormorant Unicase', serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	margin: 0 0 40px 0;
}
.review-card {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.reviews__author {
	text-align: center;
	font-family: 'Bitter', serif;
	margin: 0 0 20px 0;
}
.reviews__author-name {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	line-height: 35px;
}
.reviews__author-from {
	font-style: italic;
	font-size: 14px;
	margin: 0;
}
.reviews__text {
	text-align: center;
	line-height: 25px;
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 14px;
	height: 100%;
	display: flex;
	align-items: center;
}
.slider-buttons {
  width: 30%;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.reviews__button {
	height: 40px;
	width: 18%;
	background-color: #AD8F1F;
	font-family: 'Cormorant Unicase', serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	box-shadow: 1px 1px 3px #0E0F11;
	transition-duration: 0.2s;
	margin: 25px 0 0 0;
}
.reviews__button:hover {
  background-color: #c2a00a;
}
.reviews__button:active {
  transform: scale(0.99);
  box-shadow: none;
}

/*всплывающее окно ДОБАВЛЕНИЕ ОТЗЫВА*/
.reviews__window-up-content {
  position: relative;
  border-radius: 3px;
  background: url('../img/reviews-window-up__back.jpg') center / cover no-repeat;
  height: fit-content;
  overflow: scroll;
}
.reviews-window-up__layout {
  height: fit-content;
  padding: 50px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #63625f80;
  backdrop-filter: blur(2.5px);
  border-radius: inherit;
  box-shadow: #000 1px 1px 3px;
}
.review__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review__form input {
  margin: 0;
}
.where-author-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.where-author-review input {
  margin: 0;
  flex: 0 1 50%;
}
.review__country {
  margin-right: 15px;
}
.review__form textarea {
  padding: 15px 30px;
  resize: none;
  width: 100%;
  height: 200px;
  margin:0 0 10px;
}
#reviewWindowUpTitle {
  width: 80%;
  margin: 0 0 20px;  
}
.review__input {
  width: 100%;
  height: 50px;
  margin: 10px;
  font-size: 17px;
  box-shadow: 1px 1px 3px #0E0F11;

  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.5);
  color: #000000;
  padding: 0 15px 0 30px;
}
.review__input::placeholder {color: #00000060;}
.review__submit {
  height: 45px;
	width: 40%;
	background-color: #AD8F1F;
	font-family: 'Cormorant Unicase', serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	box-shadow: 1px 1px 3px #0E0F11;
	transition-duration: 0.2s;
	margin: 25px 0 0 0;
}
.review__submit:hover {
  background-color: #c2a00a;
}
.review__submit:active {
  transform: scale(0.99);
  box-shadow: none;
}


@media(max-width:992px) {
  .order-call__form {
    width: 75%;
    margin: 30px 0;
  }
}
@media(max-width:767px) {
  .order-call__content {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .order-call__text {
    text-align: center;
    font-size: 16px;
    margin: 0 0;
  }
  .review__submit {
    width: 75%;
    height: 50px;
    font-size: 16px;
  }
  .reviews-window-up__layout{
    padding: 50px 25px;
  }
  
}
@media (max-width:576px) {
  .review__submit {
    width: 100%;
    height: 50px;
    font-size: 14px;
  }
  .order-call__form {
    width: 100%;
    margin: 30px 0;
  }
  #windowUpTitle {
    width: 100%;
    font-size: 20px;
  }
  .order-call-window-up__layout {
    height: 100%;
    padding: 30px 40px;
  }
  .order-call__form input {
    width: 100%;
    height: 50px;
    margin: 10px 10px 10px 0;
    font-size: 15px;
  }
}


@media(max-width: 992px){
  .reviews {
    padding: 35px 0;
  }
  .reviews__title {
    margin: 0 0 20px 0;
  }
	.reviews__button {
		height: 37px;
		width: 35%;
	}
}
@media(max-width: 767px){
  .slider {
    max-width: 95%;
  }
  .slider-buttons {
    display: none;
  }
}
@media(max-width: 576px){
  .reviews {
    padding: 25px 0;
  }
  .reviews__title {
    font-size: 25px;
    margin: 0 0 25px 0;
  }
	.reviews__button {
		width: 85%;
	}
  .reviews__author-name {
    font-size: 18px;
    line-height: 30px;
  }
  .reviews__text {
    line-height: 20px;
    font-size: 14px;
  }
	.carousel-control-next, .carousel-control-prev {
		width: 7%;
	}
  .slider-buttons {
    justify-content: space-between;
  }
}

/*partners*/
.partners {
  width: 100%;
  background: url('../img/partners__background.jpg') center / cover no-repeat;
}
.partners__layer {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 29, 34, 0.75);
  padding: 70px 0 55px;
}
.partners__title {
  font-family: 'Cormorant Unicase', serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0 0 50px 0;
}
.partners__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__card {
  width: 17%;
  height: 150px;
  background-color: rgba(217, 217, 217, 0.38);
  margin: 0 0 45px 0;
}

@media(max-width:1150px) {
  .partners__card {
    height: 130px;
    margin: 0 0 40px 0;
  }
}
@media(max-width:992px) {
  .partners__layer {
    padding: 55px 0 35px;
  }
  .partners__title {
    font-size: 25px;
  }
  .partners__card {
    height: 100px;
    margin: 0 0 20px 0;
  }
}
@media(max-width:767px) {
  .partners__card {
    flex: 0 1 22%;
    padding: 0 50px;
    margin: 0 0 20px 0;
  }
  .partner_9, .partner_10 {
    display: none;
  }
}
@media(max-width:505px) {
  .partners__card {
    flex: 0 1 30%;
    padding: 0 50px;
  }
}
@media(max-width:390px) {
  .partners__card {
    flex: 0 1 45%;
  }
}

/*FOOTER*/
.footer {
  width: 100%;
  height: auto;
  background-color: #0E0F11;
  padding: 80px 0 40px;
}
.footer__content {
  height: auto;
  font-family: 'Bitter', serif;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
}
.footer__columns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: auto 0;
}
.footer__call {
  display: flex;
  flex-direction: column;
  width: 42%;
}
.footer__title {
  font-size: 22px;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  color: #fff;
  margin: 0 0 55px 0;
  text-transform: uppercase;
}
.footer__call-title {
  margin: 0 0 30px 0;
}
.footer__call-text {
  margin: 0 0 30px 0;
  line-height: 20px;
}
.footer__call-form  form{
  display: flex;
  flex-direction: column;
}
.footer__field {
  width: 100%;
  height: 60px;
  background-color: #d9d9d965;
  color: #fff;
  padding: 0 15px 0 30px;
  font-size: 14px;
  margin: 0 0 25px 0;
}
.footer__call-button {
  width: 100%;
  height: 60px;
  background-color: #AD8F1F;
  color: #fff;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 15px;
  transition-duration: 0.2s;
  margin-bottom: 20px;
}
.footer__call-button:hover {
  background-color: #c2a00a;
}
.footer__call-button:active {
  box-shadow: inset 1px 1px 3px #0E0F11;
}
.footer__navigation-list {
  padding: 0;
}
.footer__navigation-list li {
  margin: 0 0 25px 0;
}
.footer__navigation-list li::before {
  content: "› ";
}
.footer__navigation-link {
  font-family: 'Bitter', serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 14px;
}
.footer__contacts {
  width: 22%;
}
.footer__contacts-list {
  padding: 0;
}
.footer__contacts-list li{
  margin: 0 0 40px 0;
  color: #ffffff50 ;
  display: flex;
  flex-direction: row;
}
.footer__contacts-list li a{
  color: #ffffff50 ;
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 14px;
}
.footer__contacts-list li p{
  font-family: 'Bitter', serif;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  padding: 0 0 0 15px;
  font-weight: 400;
  font-size: 14px;
}
.footer__contacts-list-icon {
  width: 24px;
  height: 24px;
}
.list-icon-geo {background: url('../img/icons/geo.png') center/cover no-repeat;}
.list-icon-tel {background: url('../img/icons/tel.png') center/cover no-repeat;}
.list-icon-email {background: url('../img/icons/email.png') center/cover no-repeat;}
.list-icon-inst {background: url('../img/icons/icon-instagram-gold.png') center/cover no-repeat;}

.footer__contacts-link {
  font-family: 'Cormorant Unicase', serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: row; 
}
.phones {
  margin: 70px 0 0 0;
}
.phones__content {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.phones__num {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.phones-row {
  flex: 1 0 50%;
}
.phones__content p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cormorant Unicase', serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.footer__contacts-nets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 ;
}
.footer__copyright {
  width: 100%;
  height: 60px;
  background-color: #989CA3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright p {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

@media(max-width:992px) {
  .footer {
    padding: 50px 0;
  }
  .phones {
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  .footer__copyright p {
    font-size: 14px; 
  }
  .footer__call {
    width: 35%;
  }
  .footer__contacts {
    width: 25%;
  }
}
@media(max-width:767px) {
  .footer {
    padding: 30px 0;
  }
  .footer__title {
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
  }
  .footer__call {
    flex: 0 1 100%;
    margin: 0 0 40px 0;
  }
  .footer__call {
    width: 50%;
  }
  .footer__contacts {
    flex: 0 1 35%;
  }

  .footer__contacts-link img{
    width: 100%;
    height: auto;
    margin: 0 10px 0 0;
  }
  .footer__field {
    height: 50px;
    margin: 0 0 15px 0;
  }
  .footer__call-button {
    height: 50px;
    margin: 0 0 15px 0;
  }
  .footer__contacts-list li{
    margin: 30px 0 0 0;
  }
  .phones {
    margin: 10px 0 0 0;
  }
  .phones__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .phones-row {
    margin: 0 0 20px;
  }
}
@media(max-width:576px) {
  .footer__call > .footer__title {
    margin: 0 0 20px 0;
  }
  .footer__navigation {
    display: none;
  }
  .footer__contacts {
    flex: 0 1 75%;
    text-align: center;
  }
  .footer__title {
    margin: 0 0 30px 0;
  }
  .footer__contacts-list li{
    margin: 0 0 35px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__contacts-list li p{
    padding: 0;
    margin: 10px 0 0 0;
  }
  .footer__contacts-link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width:505px) {
  .partner_7, .partner_8 {
    display: none;
  }
  .phones__num {
    flex-direction: column;
  }
  .phones__num p {
    margin: 0 0 25px;
  }

}







/*---------------------------------ABOUT - новая страница -----------------*/
.about-page__container {
  width: 70%;
  line-height: 20px;
}
.about-page {
  padding: 50px 0;
  background-color: #6b6d70;
  font-style: 17px;
}
.about-page__image img {
  width: 100%;
  height: auto;
}
.about-page__content {
  padding: 30px 50px 30px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-page__title {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  margin: 0 0 50px 0;
  text-align: center;
}
.about-page__text {
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0 30px 0;
}
.about-page__text p {
  margin: 0 0 10px 0;
}
.about__facts {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}
.about__facts, .about__scheme {
  margin: 0 0 45px 0;
}
.about__fact {
  flex: 0 1 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition-duration: 0.5s;
}
.about__image {
  width: 100px;
  height: 100px;
  margin: 20px;
}
.about__image-2 {
  width: 90px;
}
.about__image img {
  max-width: 100%;
  height: auto;
}
.about__fact:hover {
  transform: scale(1.1);
}
.about__fact:hover ~  .about__image {
  margin: 0 0 5px 0;
}
.about__scheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__scheme-step {
  width: 140px;
  height: 140px;
  border: 2px solid #AD8F1F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  transition-duration: 0.5s;
}
.about__scheme-step:hover {
  background-color: #AD8F1F;
}
.step:hover ~ .about__scheme-arrow {
  color: #000000;
  transform: scale(1.2);
}
.about__scheme-arrow {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 300;
  font-size: 65px;
  color: #AD8F1F;
  transition-duration: 0.5s;
}

@media(max-width: 992px) {
  .about-page__container {
    width: 100%;
    line-height: 20px;
  }
  .about__facts, .about__scheme {
    margin: 0 0 20px 0;
  }
  .about__fact {
    flex: 0 1 50%;
  }
}
@media(max-width: 767px) {
  .about-page {
    padding: 10px 0 20px;
  }
  .adaptive-column {
    flex-direction: column;
  }
  .about-page__image {
    width: 100%;
  }
  .about-page__content {
    padding: 20px 20px;
    
  }
  .about-page__title {
    justify-content: center;
  }
  .about-page__text {
    text-align: center;
  }
}
@media(max-width: 568px) {
  .about__facts {
    flex-direction: column;
  }
  .about__fact {
    flex: 0 1 100%;
    margin: 0 0 15px 0;
  }
  .about__image {
    margin: 10px;
  }
  .about-page__title {
    margin: 20px;
  }
  .about__scheme {
    flex-direction: column;
  }
  .step {
    display: flex;
    width: 100%;
  }
  .about__scheme-step {
    width: 160px;
    height: 160px;
  }
  .about__scheme-arrow {
    font-size: 100px;
  }
  .step-1 {justify-content: end;}
  .step-2 {justify-content: start;}
  .step-3 {justify-content: end;}
  .arr-1 {transform: rotate(140deg);}
  .arr-2 {transform: rotate(40deg);}
  .step:hover ~ .arr-1 {transform: rotate(140deg);}
  .step:hover ~ .arr-2 {transform: rotate(40deg);}
}
@media(max-width: 415px) {
  .step {justify-content: center;}
  .arr-1, .arr-2 {
    transform: rotate(90deg);
    font-size: 65px;
    margin: 10px 0;
    text-align: center;
  }
}




/*---------------------------------SERVICEs - новая страница -----------------*/

/*всплывающее окно*/
.window-up {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 102;
  transform: scale(0);
  transition: transform 0.3s ease, background-color 0.3s linear 0.2s;
}
.window-up.activeUp {
 transform: scale(100%);
 background-color: rgba(0, 0, 0, 0.7);;
}
.window-up-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service__window-up {
  margin: auto;
  width: 65%;
  height: 80%;
  border-radius: 0.25%;
  position: relative;
}
.service__window-up__layout {
  height: 100%;
  padding: 50px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7e0c980;
  backdrop-filter: blur(2.5px);
  overflow: scroll;
}
body.lock {
  overflow: hidden;
}
.window-up_serv-1 { background: url(../img/services_1-MOBILE.png) 50%/cover no-repeat, #000; }
.window-up_serv-2 { background: url(../img/services_2-MOBILE.png) 50%/cover no-repeat, #000; }
.window-up_serv-3 { background: url(../img/services_3-MOBILE.png) 50%/cover no-repeat, #000; }
.window-up_serv-4 { background: url(../img/services_4-MOBILE.png) 50%/cover no-repeat, #000; }
.window-up_serv-5 { background: url(../img/services_5-MOBILE.png) 50%/cover no-repeat, #000; }
.window-up_serv-6 { background: url(../img/services_6-MOBILE.png) 50%/cover no-repeat, #000; }

.window-up__title {
  font-size: 30px;
  text-align: center;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 600;
  width: 75%;
  margin: 0 auto;
}
.window-up__text {
  font-family: 'Bitter', serif;
  font-size: 15px;
  text-align: center;
  margin: 50px 0;
  line-height: 20px;
}
.window-up__list {
  font-size: 16px;
}
.window-up__list p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 15px 0;
}
.window-up__list li::marker {
  content: '✓​';
  font-size: 2rem;
}
.window-up__list li {
  padding: 0 0 0 20px;
  margin: 10px;
}
.window-up__close {
  font-size: 45px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  padding: 10px 30px 30px;
  user-select: none;
}

@media(max-width:992px) {
  .window-up__title {
    width: 100%;
  }
  .service__window-up__layout {
    padding: 45px 50px;
  }
}
@media(max-width:767px) {
  .service__window-up__layout {
    padding: 30px 30px;
  }
  .window-up__close {
    font-size: 35px;
    top: 10px;
    right: 20px;
    padding: 0px 0px 30px 30px;
  }
}
@media(max-width:568px) {

}




/*СЛАЙДЕР*/
.slider {
  max-width: 50%;
  margin: 0  auto;
  overflow: hidden;
}
.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 0.5s;
}
.slider-line img {
  user-select: none;
}
.slider-but {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Cormorant Unicase', serif;
  user-select: none;
}
.slider-project_prev-area, .slider-project_next-area {
  width: 40%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 30px;
}
.slider-project_next-area {
  justify-content: end;
}
.slider-project_prev-area {
  justify-content: start;
}

.slider-project_prev-area:hover {
  background: linear-gradient(to right, #000, #fff0);
}
.slider-project_next-area:hover {
  background: linear-gradient(to left, #000, #fff0);
}

@media(max-width:767px){
  .slider-project_next-area, .slider-project_prev-area {
    display: none;
  }
  .slider {
    max-width: 80%;
  }
}
@media(max-width:567px){
  .slider {
    max-width: 90%;
  }
}



.service-page {
  padding: 50px 0;
}
.service-page__content {
  text-align: center;
  justify-content: center;
}
.service-page__title {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
  margin: 0 0 10px 0;
  justify-content: center;
}
.service-page__text {
  font-size: 14px;
}
.service-page__mini-title {
  justify-content: center;
  margin: 25px 0 10px;
  font-family: 'Cormorant Unicase', serif;
  font-size: 20px;
  font-weight: 700;
}
.service__list {
  text-align: start;
  justify-content: center;
}
.service__list ul{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service__list li{
  background: url(../img/icons/check-mark.png) no-repeat;
  padding: 0 0 0 30px;
  line-height: 25px;
}
.service__button a {
  color: #fff;
}
.service__button {
  width: 50%;
  height: 60px;
  background-color: #AD8F1F;
  color: #fff;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 14px;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__button:hover {
  background-color: #c2a00a;
}
.service__button:active {
  box-shadow: inset 1px 1px 3px #0E0F11;
}

@media(max-width: 992px) {
  .service__list ul{
    width: 70%;
  }
}
@media(max-width: 767px) {
  .service__list ul{
    width: 100%;
  }
}